<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/init') %>
        <link rel="stylesheet" href="/styles/detail.css">
        <link rel="stylesheet" href="/styles/sliderCard.css">
    </head>

    <body>
        <%- include('./partials/header') %>

        <main class="detail-product-container">
            <section class="slider-images">

                <ul class="slider-images-counter">
                </ul>

                <div class="back-image"><i class="fa-solid fa-chevron-left"></i></div>

                <% for(let image of product.images) { %>
                <img src="/images/products/<%=image%>" alt="Jacket Image">
                <% } %>

                <div class="next-image"><i class="fa-solid fa-chevron-right"></i></div>

            </section>

            <section class="detail-product-description">
                <h2><%= product.name %></h2>
                <p>€<%= product.price %></p>

                <form id="form-addCarrito" action="/product/cart" method="get">
                    <ul class="form-field-color">
                        <% for(let color of product.colors) { %>
                        <label
                            style="background-color:<%= color %>;"
                            for="<%= color %>">
                        </label>

                        <input disabled
                            type="color" name="colors">

                        <% } %>
                    </ul>

                    <section class="form-field">
                        <% for(let size of product.sizes) { %>
                        <label
                            class="label-size"
                            for="<%= size %>">
                            <%= size.toUpperCase() %>
                        </label>

                        <input
                            class="size-input"
                            type="checkbox"
                            name="sizes"
                            id="<%= size %>"
                            value="<%= size %>"
                            disabled
                            >

                        <% } %>

                    </section>

                    <button disabled type="submit">Add to cart</button>
                </form>
                <section class="product-info">
                    <h3>PRODUCT INFO</h3>
                    <%= product.description %>
                </section>
            </section>
        </main>

        <script src="/scripts/slider.js"></script>
        <script src="/scripts/detailAddCart.js"></script>
        
    </body>

    <%- include('./partials/footer.ejs') %>

</html>