<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/init') %>
        <link rel="stylesheet" href="/styles/create.css">
        <link rel="stylesheet" href="/styles/edit.css">
        <link rel="stylesheet" href="/styles/sliderCard.css">
    </head>

    <body>
        <%- include('./partials/header') %>

        <form id="form-edit-product" method="POST" target="/product/create"
            class="form-create"
            enctype="multipart/form-data">
            <section class="form-create-section">
                <section class="form-field-img">
                    <label>Images</label>

                    <label class="label-inputImage" for="imageInput">

                    </label>

                    <img id="imagePreview"
                        src="/images/products/product_default.png"
                        alt="Vista previa de la imagen">

                </section>

                <section class="form-field-button">
                    <button type="submit">EDIT PRODUCT</button>
                    <button type="reset">RESET</button>
                </section>
            </section>

            <section class="form-create-section">
                <section class="form-field">
                    <label for>Nombre</label>
                    <input
                        placeholder="Enter name"
                        name="name"
                        type="text"
                        value="<%= product.name %>">
                </section>

                <section class="form-field-two">

                    <section class="form-field">
                        <label for>Price</label>

                        <input
                            placeholder="Enter price"
                            name="price"
                            type="number"
                            value="<%= product.price %>">

                    </section>

                    <section class="form-field">
                        <label for>Category</label>
                        <input
                            placeholder="Enter category"
                            name="category"
                            type="text"
                            value="<%= product.category %>">
                    </section>

                    <section class="form-field-img">
                        <label for="imageInput">Image</label>
                        <label type="button" class="form-buttom-image"
                            for="imageInput">
                            Upload Image
                        </label>

                        <input
                            name="images"
                            type="file"
                            multiple
                            id="imageInput"
                            style="display: none;">

                    </section>

                </section>

                <section class="form-field">

                    <label for>
                        Add Color

                        <button id="delete-color-button" type="button"
                            onclick="deleteColor()">
                            <i class="fa-solid fa-delete-left"></i> Delete Color
                        </button>

                    </label>

                    <div id="color-container">

                        <label id="add-color" class="color-label" for>
                            <img src="/images/icon_button_color.png"
                                alt="icon palette">
                        </label>

                        <% product.colors.forEach(color => { %>

                        <div class="color-option-container">
                            <input
                                type="color"
                                name="colors"
                                required
                                class="input-color"
                                id="<%= color  %>"
                                value="<%= color %>">

                            <i class="fa-regular fa-trash-can"></i>
                        </div>

                        <% }) %>

                    </div>

                </section>

                <section class="form-field">
                    <label for>
                        Sizes
                    </label>

                    <section class="form-field-color">

                        <% for( let size of ["xs","s","m","x","xl"]) { %>
                            <label 
                                for="size-<%=size%>"

                                <% if (product.sizes.includes(size)) { %>
                                    class="label-color-selected"
                                <% } %>
                            >
                                <%= size.toUpperCase() %>
                                
                            </label>

                            <input 
                                class="size-input" 
                                
                                <% if (product.sizes.includes(size)) { %>
                                    checked
                                <% } %>
                                
                                type="checkbox"
                                name="sizes" 
                                value="<%=size%>" 
                                id="size-<%=size%>"
                            >

                        <% } %>
                    </section>
                </section>

                <section class="form-field-textarea">
                    <label for>Description</label>
                    <textarea name="description"><%= product.description %></textarea>
                </section>
            </section>
        </form>
        <script src="/scripts/create.js"></script>
        <script src="/scripts/previewImage.js"></script>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>
