<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/init') %>
        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        <%- include('./partials/header') %>

        <section class="front-section">

            <header class="front-section-presentation">
                <img src="/images/presentation_logo.png"
                    alt="Presentation Logo Fable">

                <p>Moscow clothing brand that doesn't limit itself to the
                    framework of any concepts</p>
            </header>

            <img usemap="#ropa-map" class="front-section-image"
                src="/images/cover_image.png" alt="Cover Image">

        </section>

        <main class="main-section-container">

            <section class="main-section-header">
                <h2 class="main-section-title">FABLE OF KLASSIK</h2>
                <section class="main-subsection">
                    <h3>Jackets KLS</h3>
                    <section class="main-subsection-filter">
                        <label for>Sort by</label>
                        <select name id>
                            <option value>Menor Precio</option>
                            <option value>Mayor Precio</option>
                        </select>
                    </section>
                </section>
            </section>

            <section class="main-section-products-container">

                <% for(let product of products) { %>

                    <article class="main-section-product">

                        <img src="/images/products/<%= product.images[0] %>"
                            alt="klassic_1">

                        <section class="main-section-product-description">
                            <h3 class="main-section-product-description-title">
                                <%= product.name %>
                            </h3>
                            <p class="main-section-product-description-price">
                                €<%= product.price %>
                            </p>
                            
                            <a href="/product/detail/<%= product.id %>">
                                Ver
                            </a>

                            <a href="/product/edit/<%= product.id %>">
                                Edit
                            </a>
                        </section>

                    </article>

                <% } %>

            </section>

        </main>
    </body>

    <%- include('./partials/footer.ejs') %>

</html>